# -*- coding: utf-8 -*-
# pylint: disable-msg=C0103,C0111
"""Swtich在庫監視君 環境変数設定"""

import os

def initProduction():
    os.environ['SLACK_TOKEN'] = ''
    os.environ['SLACK_CHANNEL_ID'] = ''
    os.environ['LINE_NOTIFY_TOKEN'] = ''

def initTest():
    os.environ['SLACK_TOKEN'] = ''
    os.environ['SLACK_CHANNEL_ID'] = ''
    os.environ['LINE_NOTIFY_TOKEN'] = ''
